.recuperar-container {
  background-color: #f8f9fa;
  padding: 40px;
  margin-top: 50px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: Arial, sans-serif;
  z-index: 999;
  position: relative;
}

form {
  display: block;
}

pre {
  background: #eee;
  padding: 10px;
  border-radius: 5px;
}
