<!-- Barra superior -->
<nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav" style="background-color: rgba(52,58,64,0.75);">
  <div class="container">
    <a class="navbar-brand" routerLink="/login" style="color: rgb(255,165,85);">FAP</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation" style="background-color: rgb(255,165,85);">
      <i class="fa fa-bars" style="color: rgba(255,255,255,0.75);"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto text-uppercase">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" style="color: rgb(255,165,85);">Inicio de Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Contenido del formulario -->
<div class="container recuperar-container" style="margin-top: 120px;">
  <p class="text-center subtitulo">Selecciona tu tipo de documento y escribe el número de documento.</p>

  <form [formGroup]="form" (ngSubmit)="enviarPin()" class="form-group">

    <label for="tipoDocumento">Tipo de documento *</label>
    <select id="tipoDocumento" class="form-control" formControlName="tipoDocumento">
      <option value="">-- Seleccione --</option>
      <option value="DNI">DNI</option>
      <option value="CE">Carnet Extranjería</option>
      <option value="PAS">Pasaporte</option>
    </select>

    <label for="numeroDocumento" class="mt-3">Ingrese el documento *</label>
    <input id="numeroDocumento"
           class="form-control"
           type="text"
           formControlName="numeroDocumento"
           placeholder="Documento"
           maxlength="8"
           inputmode="numeric"
           pattern="[0-9]*"
           />

    <div *ngIf="form.get('numeroDocumento')?.invalid && form.get('numeroDocumento')?.touched" class="text-danger mt-1">
      El número de documento debe tener exactamente 8 dígitos numéricos.
    </div>

    <button type="submit"
            [disabled]="form.invalid"
            class="btn btn-warning btn-block mt-4 text-white font-weight-bold">
      VALIDAR
    </button>

    <button type="button" class="btn btn-link text-danger btn-block mt-2" (click)="cancelar()">CANCELAR</button>
  </form>
</div>
