.contenedor {
  padding: 2rem;
  font-family: 'Inter', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-sacar-cita {
  background-color: #5d5dfc;
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.filtros {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  align-items: center;
}

select {
  padding: 0.5rem;
  border-radius: 6px;
}

.filtro-tipo .opciones button {
  margin-right: 0.5rem;
  padding: 0.4rem 1rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.filtro-tipo .opciones button.active {
  background-color: #edeaff;
  color: #5d5dfc;
  border: 1px solid #5d5dfc;
}

.tabs {
  display: flex;
  margin-top: 2rem;
  border-bottom: 1px solid #ccc;
}

.tabs button {
  background: none;
  border: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.tabs button.active {
  border-color: #37c94a;
  color: #37c94a;
}

.contenido {
  text-align: center;
  margin-top: 3rem;
  color: #444;
}

.contenido a {
  color: #2ecc71;
  font-weight: bold;
  text-decoration: none;
}
